<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Word Frequency Counter</title>
  </head>
  <body>
    <div class='container'>
      <h1>Word Frequency Counter</h1>
    </br>
      <h2>Your word appears {{ result }} time(s) in your sentence. </h2>
    </br>
      <h3><strong>Your word was: {{ keyword }}</h3>
      <h3><strong>Your sentence was: {{ searchstring }}</h3>
    </div>
    <div class='container'>
      <h4><a href='/'>RUN IT BACK!</a></h4>
    </div>
  </body>
</html>